<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Logistica 2024</span>
            <br>
            <br>
            <span>dartprogrammer</span>
        </div>
    </div>
</footer>