<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMFactory</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  background-image: url('https://images.unsplash.com/photo-1586528116311-ad8dd3c8310d?auto=format&fit=crop&q=80&w=1740&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      background-size: cover;
      background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #03a9f4; */
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}
    </style>
</head>
<body>
    <section class="showcase">
        <header>
          <h2 class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><path fill="currentColor" d="m22.504 17.636l-6-3.5a1 1 0 0 0-1.008 0l-6 3.5A1 1 0 0 0 9 18.5v7a1 1 0 0 0 .496.864l6 3.5a1 1 0 0 0 1.008 0l6-3.5A1 1 0 0 0 23 25.5v-7a1 1 0 0 0-.496-.864ZM21 23.834l-2.532-1.519c.013-.104.032-.207.032-.315a2.502 2.502 0 0 0-1.5-2.288v-2.97l4 2.332v4.76Zm-6-7.093v2.97A2.502 2.502 0 0 0 13.5 22c0 .108.019.21.032.315L11 23.834v-4.76l4-2.333Zm1 11.101l-3.952-2.305l2.507-1.504c.41.291.906.467 1.445.467s1.036-.176 1.445-.467l2.507 1.504L16 27.842Z"/><path fill="currentColor" d="M24.8 9.14C23.93 5.02 20.28 2 16 2S8.07 5.02 7.2 9.14C4.23 9.74 2 12.4 2 15.5c0 3.07 2.14 5.63 5 6.31V19.7c-1.74-.62-3-2.24-3-4.2c0-2.33 1.82-4.31 4.14-4.49l.82-.06l.1-.81C9.49 6.64 12.47 4 16 4s6.51 2.64 6.94 6.14l.1.81l.82.06c2.32.19 4.14 2.16 4.14 4.49c0 1.95-1.26 3.59-3 4.21v2.11c2.86-.68 5-3.26 5-6.32c0-3.11-2.23-5.76-5.2-6.36Z"/></svg>
            LOGISTICA</h2>
          <div class="toggle"></div>
        </header>
        <video src="https://traversymedia.com/downloads/videos/explore.mp4" muted loop autoplay></video>
        <div class="overlay"></div>
        <div class="text">
          <!-- <h2>LOGISTICA</h2>  -->
          <h3>Aplikasi Manajemen Logistik & Supply Chain</h3>
          <p>Dibangung dengan Golang dan Framework GoFiber serta manajemen database menggunakan MySQL .</p>
          <a href="/dashboard">Dashboard</a>
        </div>
        <ul class="social">
          <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
          <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
          <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
        </ul>
      </section>
      <div class="menu">
        <ul>
          <li><a href="/login">Login</a></li>
          <li><a href="#">Company Profile</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
</body>
<script>
     const menuToggle = document.querySelector('.toggle');
      const showcase = document.querySelector('.showcase');

      menuToggle.addEventListener('click', () => {
        menuToggle.classList.toggle('active');
        showcase.classList.toggle('active');
      })
</script>
</html>
