<script>
    const array = [];
    `{{#surat-masuk}}`
    array.push(`{{judulSurat}}`)
    `{{/surat-masuk}}`
</script>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Inventory</h1>
        <div id="add-stocks-button"><a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i>Add Stocks</i></a></div>
        <div id="return-button" hidden><a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm hidden"><i>Return</i></a></div>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4" id="card-products">
        <div class="card">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Products</h6>
            </div>
            <div class="card-body" id="surat-masuk">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Name</th>
                                <th>Serial Number</th>
                                <th>Manufacturer</th>
                                <th>Stocks</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#surat-masuk}}
                                <tr>
                                    <td>{{tanggalSurat}}</td>
                                    <td>{{judulSurat}}</td>
                                    <td>{{penerima}}</td>
                                    <td>{{pengirim}}</td>
                                    <td>{{perihal}}</td>
                                    <td>{{jenisSurat}}</td>
                                </tr>
                                {{/surat-masuk}}
                            <tr>
                                <td>0435843957346</td>
                                <td>Ryzen 5 5000X</td>
                                <td>85043859347549</td>
                                <td>AMD</td>
                                <td>1032</td>
                                <td>3.900.000</td>
                            </tr>
                            <tr>
                                <td>0435843957346</td>
                                <td>Intel i5 5460U</td>
                                <td>85043859347549</td>
                                <td>Intel</td>
                                <td>980</td>
                                <td>4.153.000</td>
                            </tr>
                            <tr>
                                <td>0435843957346</td>
                                <td>DA PSU 80W Bronze</td>
                                <td>85043859347549</td>
                                <td>Digital Alliance</td>
                                <td>98</td>
                                <td>560.000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body" id="surat-keluar" style="display: none;">
            </div>
        </div>
        
        <script>
            function showTab(tabId) {
                // Sembunyikan semua card body
                var cardBodies = document.getElementsByClassName('card-body');
                for (var i = 0; i < cardBodies.length; i++) {
                    cardBodies[i].style.display = 'none';
                }
        
                // Hapus kelas "active" dari semua tautan
                var navLinks = document.getElementsByClassName('nav-link');
                for (var j = 0; j < navLinks.length; j++) {
                    navLinks[j].classList.remove('active');
                }
        
                // Tampilkan card body dengan id yang sesuai
                document.getElementById(tabId).style.display = 'block';
        
                // Tambahkan kelas "active" pada tautan yang diklik
                var clickedLink = event.currentTarget;
                clickedLink.classList.add('active');
            }
        </script>      
    </div>

    <script>
        const products = ["motor", "mobil"];
    </script>
    <div class="card shadow mb-4" id="card-add-stocks" hidden>
        <div class="card">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Add Stock</h6>
            </div>
            <div class="card-body">
                <div class="form-wrap">	
                    <form id="survey-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="judul-surat-label" for="judul-surat"></label>
                                    <input type="text" name="judul-surat" id="judul-surat" placeholder="Masukkan judul surat" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="nomor-surat-label" for="nomor-surat">Nomor Surat</label>
                                    <input type="email" name="nomor-surat" id="nomor-surat" placeholder="Masukkan nomor surat" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="number-label" for="number">Tanggal Surat Dibuat </label>
                                    <input class="form-control" id="tanggal_surat" name="tanggal_surat" type="date" pattern="\d{1,2}/\d {1,2}/\d{4}"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Jenis Surat</label>
                                    <select id="dropdown" name="role" class="form-control" required>
                                        <option disabled selected value>Select</option>
                                        <option value="masuk">Surat Masuk</option>
                                        <option value="keluar">Surat Keluar</option>
                                        <option value="lainnya">Lainnya</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="pengirim-label" for="pengirim">Pengirim</label>
                                    <input type="pengirim" name="pengirim" id="pengirim" class="form-control" placeholder="Masukkan pengirim"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Unggah Berkas</label>
                                    <input type="file" class="form-control" name="berkas-surat" id="berkas-surat">
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Catatan <small>(optional)</small></label>
                                    <textarea  id="comments" class="form-control" name="comment" placeholder="Masukkan keterangan..."></textarea>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-2">
                                <button type="submit" id="submit" class="btn btn-primary btn-block">Unggah</button>
                            </div>
                        </div>

                    </form>
                </div>	
            </div>
        </div>
        
    </div>

        <script>
            function showTab(tabId) {
                // Sembunyikan semua card body
                var cardBodies = document.getElementsByClassName('card-body');
                for (var i = 0; i < cardBodies.length; i++) {
                    cardBodies[i].style.display = 'none';
                }
        
                // Hapus kelas "active" dari semua tautan
                var navLinks = document.getElementsByClassName('nav-link');
                for (var j = 0; j < navLinks.length; j++) {
                    navLinks[j].classList.remove('active');
                }
        
                // Tampilkan card body dengan id yang sesuai
                document.getElementById(tabId).style.display = 'block';
        
                // Tambahkan kelas "active" pada tautan yang diklik
                var clickedLink = event.currentTarget;
                clickedLink.classList.add('active');
            }
        </script>      

</div>

<script>
    const cardProducts = document.getElementById("card-products");
    const cardAddStocks = document.getElementById("card-add-stocks");
    const addStocksButton = document.getElementById("add-stocks-button")
    // const inventoryButton = document.getElementById("inventory-button");
    const returnButton = document.getElementById("return-button")

    addStocksButton.addEventListener("click", () => {
        cardAddStocks.removeAttribute("hidden");
        returnButton.removeAttribute("hidden");
        addStocksButton.setAttribute("hidden", true);
        cardProducts.setAttribute("hidden",true)
    });
    returnButton.addEventListener("click", () => {
        cardAddStocks.classList.add("hidden");
        cardAddStocks.setAttribute("hidden", true);
        returnButton.setAttribute("hidden", true);
        addStocksButton.removeAttribute("hidden");
        cardProducts.removeAttribute("hidden");
    });
</script>