<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Orders</h1>
        <div id="add-stocks-button"><a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i>New Order</i></a></div>
        <div id="return-button" hidden><a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i>Return</i></a></div>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4" id="card-products">
        <div class="card">
            <div class="card-header py-3">
                <ul class="nav nav-tabs" style="border-bottom: none;">
                    <li class="nav-item">
                        <a class="nav-link active" id="ongoing-tab" data-toggle="tab" href="#on-going-button" style="background: none; border: none;">On Going</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="finished-tab" data-toggle="tab" href="#finished-button" style="background: none; border: none;">Finished</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="on-going-button">
                        <!-- On Going Content -->
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Total Order</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Ryzen 5 5000X</td>
                                        <td>3</td>
                                        <td>3.900.000</td>
                                        <td><h6 class="badge badge-danger">Fail</h6></td>
                                        <td class="text-center">
                                            <div class="dropdown">
                                                <!-- editEmployeeModal -->
                                                <!-- <a href="javascript:void(0);" data-toggle="modal" data-target="#editEmployeeModal" onclick="GetDataByID(parseInt('{{id}}'))">
                                                    update
                                                </a> -->
                                                <a href="javascript:void(0);" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20"><g fill="currentColor"><circle cx="10" cy="15" r="2"/><circle cx="10" cy="10" r="2"/><circle cx="10" cy="5" r="2"/></g></svg>
                                                </a>
                                        
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="javascript:void(0);">Update</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="javascript:void(0);">Detail</a>
                                                    <!-- Tambahkan opsi dropdown lainnya sesuai kebutuhan -->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="finished-button">
                        <!-- Finished Content -->
                        <!-- Add your content for Finished tab here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4" id="card-add-stocks" hidden>
        <div class="card">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Add Stock</h6>
            </div>
            <div class="card-body">
                <div class="form-wrap">	
                    <form id="survey-form">
                        <div class="row">
                            <div class="col-md-12">
                            <div id="existing-product">
                                    <div class="form-group">
                                        <label id="product-label" for="product_name">Product Name</label>
                                        <select class="form-control scrollable-menu" id="product-name" name="productName" onfocus="this.size=1;" onchange='this.size=1;'>
                                            <option value="" selected disabled>Select Product</option>
                                            {{#products}}
                                                <option value="{{id}}" data-price="{{price}}">{{name}} | stocks: {{stocks}}</option>
                                            {{/products}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="buyer-label" for="buyer">Buyer</label>
                                    <input type="pengirim" name="buyer" id="buyer-form" class="form-control" placeholder="Ex: Anto"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="pieces_label" for="Pieces">Order Quantity</label>
                                    <input type="number" name="Pieces" id="pieces-form" placeholder="EX: 100" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="pengirim-label" for="stock">Number Phone</label>
                                    <input type="stock" name="stock" id="number-phone-buyer" class="form-control" placeholder="Ex: 1024"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="address_label" for="pengirim">Address</label>
                                    <input type="pengirim" name="address" id="address-buyer" class="form-control" placeholder="Ex: 2.240.000 (IDR)"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button id="submit-order" class="btn btn-primary btn-block">Order</button>
                            </div>
                        </div>

                    </form>
                </div>	
            </div>
        </div>
        
    </div>
</div>
<!-- Modal Order -->
<div class="modal fade" id="confirm-order-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-order-modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 50%; top: 70px" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title placeholder col-6" id="confirm-order-modalLabel">Order Detail</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="id-employee-edit">
            <h6>Product : <span id="order-product-name"></span></h6>
            <h6>Price  : <span id="order-product-price"></span></h6>
            <h5>Total <span id="total-order"></span></h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Confirm</button>
        </div>
      </div>
    </div>
</div>
<script>
    const productName = document.getElementById("product-name");
    const buyerForm = document.getElementById("buyer-form");
    const piecesForm = document.getElementById("pieces-form");
    const numberPhoneBuyer = document.getElementById("number-phone-buyer")
    const addressBuyer = document.getElementById("address-buyer");
    
    const orderProductName = document.getElementById("order-product-name");
    const orderProductPrice = document.getElementById("order-product-price");
    const totalOrder = document.getElementById("total-order");

    document.getElementById("submit-order").addEventListener("click", (e) => {
        e.preventDefault();
        const isFormEmpty = buyerForm.value === "" || piecesForm.value === "" || numberPhoneBuyer.value === "" || addressBuyer.value === ""
        if (isFormEmpty) {
            ErrorNotif("Form is Empty!");
            return 0;
        }
        Swal.fire({
            title: 'Loading!',
            html: 'Please wait...',
            icon: 'info',
            allowOutsideClick: false,
            showConfirmButton: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });
        const data = {
            idProduct: productName.value,
            quantity: piecesForm.value
        }

        fetch("/order/calculate", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(results => {
            console.log(results);
            if (results.status != 200) {
                ErrorNotif(results.error);
                Swal.close();
                return 0;
            }
            else {
                Swal.close();
                $('#confirm-order-modal').modal('show');
                orderProductName.innerText = results.data.name; 
                orderProductPrice.innerText = results.data.price;
                totalOrder.innerText = `${piecesForm.value} x ${results.data.price} = ${results.data.payment}`;
            }
        })
        .error(error => {
            console.error(error);
            Swal.close();
        })
    })
</script>
<script>
    const cardProducts = document.getElementById("card-products");
    const cardAddStocks = document.getElementById("card-add-stocks");
    const addStocksButton = document.getElementById("add-stocks-button")
    // const inventoryButton = document.getElementById("inventory-button");
    const returnButton = document.getElementById("return-button")

    addStocksButton.addEventListener("click", () => {
        cardAddStocks.removeAttribute("hidden");
        returnButton.removeAttribute("hidden");
        addStocksButton.setAttribute("hidden", true);
        cardProducts.setAttribute("hidden",true)
    });
    returnButton.addEventListener("click", () => {
        cardAddStocks.setAttribute("hidden", true);
        returnButton.setAttribute("hidden", true);
        addStocksButton.removeAttribute("hidden");
        cardProducts.removeAttribute("hidden");
    });
</script>