body {
    margin: 0;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0); /* Warna latar belakang semi-transparan */
    pointer-events: none; /* Mencegah elemen ini menanggapi interaksi pengguna */
}

.text-blue{
    color: #0d6efd;
}

.text-black{
    color: #000;
}

.border-left-black {
    border-left: 4px solid #000; /* Warna hitam (#000) di sini */
}
.border-left-blue {
    border-left: 4px solid #0d6efd; /* Warna hitam (#000) di sini */
}


.hidden {
    display: none !important;
}